/Hands_On_Machine_Learning_with_Scikit_Learn_and_PyTorch_Concepts.pdf
/SQL Basics & Advanced.pdf
/SQL_cheat_sheet.docx
/Ubisoft Connect.desktop
/ml
/pytorch_study_book.pdf
/short_math_ml.pdf
/Гмурман_В_Е_Теория_вероятностей_и_математическая_статистика,_12.pdf
